@page "/"

<h1>Snake</h1>

Welcome to the Snake game. <br/>
<div style="background-color:grey;width:@(mapa.Size)px;height:@(mapa.Size)px; display:inline-block; border:2px solid black;">
</div>

<EditForm Model="@mapa"> @* Form simple para que el usuario pueda establecer el tamaño del mapa *@
    Tamaño del mapa : <InputNumber @bind-Value="@mapa.Size" />
    
    <button type="submit" class="btn btn-primary btn-block confirm-button">Establecer</button>
</EditForm>

@code{
    private MapObject mapa = new(); // Primero el mapa se creará en su tamaño por defecto, 400px
}