@page "/"

<h1>Snake</h1>

Welcome to the Snake game. 

<br/>

@* Creo un div con estilos y el mismo tamaño que le damos al mapa *@
<div @ref="Mapa" style="background-color:grey;width:@(_mapSize*10)px;height:@(_mapSize*10)px; display:block; border:5px solid darkred;">
    @for (var i = 0; i < mapa.Casillas.GetLength(0); i++)
    {
        for (var j = 0; j < mapa.Casillas.GetLength(1); j++)
       {
           if (manzana.PosX == i && manzana.PosY == j)
            {
                _colorCasilla = "red";
            }
            else if (snake.PosX == i && snake.PosY == j)
            {
                _colorCasilla = "green";
            }
            else
            {
                _colorCasilla = "transparent";
            }

            <div style="width:10px;height:10px;float:left;margin:0px;padding:0px;background-color:@_colorCasilla;border:1px solid yellow"></div>
       }
    }
</div>

<br />

@* Botón para que el usuario pueda iniciar o finalizar la partida *@
<button @ref="BotonIniciar" @onclick="()=>startGame(snake,manzana)" class="btn btn-primary">@_textoBotonIniciar</button>


@* Form simple para que el usuario pueda establecer el tamaño del mapa *@
<EditForm Model="@mapa" OnValidSubmit="MapOnValidSubmit" OnInvalidSubmit="MapOnInvalidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator> @* Añado el validador del formulario *@

    Tamaño del mapa en casillas : <InputNumber @bind-Value="@mapa.Size" /> @* Para introducir el valor del tamaño del mapa *@
    @* Muestro justo debajo, el mensaje de error si el tamaño del mapa está fuera del rango *@
    <ValidationMessage For="@(()=>mapa.Size)"/>
</EditForm>


@code{
    // Referencias a los elementos del mapa y el botón para iniciar o parar la partida
    private ElementReference Mapa;
    private ElementReference BotonIniciar;
    
    /// <summary> Acciones a realizar cada vez que se refresque el DOM y se renderice la página </summary>
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender) // La primera vez que se renderice :
        {
            BotonIniciar.FocusAsync(); // Establezco el foco en el botón para iniciar la partida
        }
    }
}